<head>
<title>control</title>
</head>
<body>


<style>
.container { 
  height: 150px;
  position: relative;
   
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
</style>

</body>
</html>

</body>
</html>
